<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Film Blog</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'common/common.css' %}">
    <link rel="stylesheet" href="{% static 'common/jquery.pagination.css' %}">
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
</head>

<body>
<div id="app">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
        <div>
            <a class="navbar-brand" href="{% url 'home:index' %}">The Film Blog</a>
        </div>
        
        <div class="collapse navbar-collapse">
            <div>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link mr-2" href="#">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-2" href="#">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-2" href="#">Previews</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                
                <li class="nav-item dropdown" v-if="is_login">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click="show_menu_click">[[username]]</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="display: block" v-show="show_menu">
                        <a class="dropdown-item" href="{% url 'users:writeblog' %}">Write a blog</a>
                        <a class="dropdown-item" href='{% url 'users:center' %}'>Personal Information</a>
                        <a class="dropdown-item" href='{% url 'users:logout' %}'>Log out</a>
                    </div>
                </li>
                <li class="nav-item" v-else>
                    <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                </li>
            </ul>
        </div>
</nav>


<div class="container">
    
    <div class="row mt-2">
            <!-- 文章内容 -->
            <!-- 标题图 -->
            <div class="col-3">
                <img src="{% static 'img/1.jpg' %}" alt="avatar" style="max-width:100%; border-radius: 20px">
            </div>
            <div class="col">
                <!-- 栏目 -->
                <a  role="button" href="#" class="btn btn-sm mb-2 btn-warning">Python</a>
            <!-- 标签 -->
                <span>
                        <a href="#" class="badge badge-secondary">Django</a>
                </span>
                <!-- 标题 -->
                <h4>
                    <b><a href="../static/detail.html" style="color: black;">如何更好的学习Django呢？</a></b>
                </h4>
                <!-- 摘要 -->
                <div>
                    <p style="color: gray;">
                        Python下有许多款不同的 Web 框架。Django是重量级选手中最有代表性的一位。许多成功的网站和APP都基于Django。Django是一个开放源代码的Web应用框架，由Python写成。
                    </p>
                </div>
                <!-- 注脚 -->
                <p>
                    <!-- 查看、评论、时间 -->
                    <span><i class="fas fa-eye" style="color: lightskyblue;"></i>590&nbsp;&nbsp;&nbsp;</span>
                    <span><i class="fas fa-comments" style="color: yellowgreen;"></i>11&nbsp;&nbsp;&nbsp;</span>
                    <span><i class="fas fa-clock" style="color: pink;"></i>2019-10-22</span>
                </p>
            </div>
            <hr style="width: 100%;"/>
    </div>

    <div class="row mt-2">
        <!-- 文章内容 -->
        <!-- 标题图 -->
        <div class="col-3">
            <img src="{% static 'img/1.jpg' %}" alt="avatar" style="max-width:100%; border-radius: 20px">
        </div>
        <div class="col">
            <!-- 栏目 -->
            <a  role="button" href="#" class="btn btn-sm mb-2 btn-warning">Python</a>
            <!-- 标签 -->
            <span>
                        <a href="#" class="badge badge-secondary">Django</a>
                </span>
            <!-- 标题 -->
            <h4>
                <b><a href="../static/detail.html" style="color: black;">如何更好的学习Django呢？</a></b>
            </h4>
            <!-- 摘要 -->
            <div>
                <p style="color: gray;">
                    Python下有许多款不同的 Web 框架。Django是重量级选手中最有代表性的一位。许多成功的网站和APP都基于Django。Django是一个开放源代码的Web应用框架，由Python写成。
                </p>
            </div>
            <!-- 注脚 -->
            <p>
                <!-- 转发、评论、时间 -->
                <span><i class="fas fa-eye" style="color: lightskyblue;"></i>590&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fas fa-comments" style="color: yellowgreen;"></i>11&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fas fa-clock" style="color: pink;"></i>2019-10-22</span>
            </p>
        </div>
        <hr style="width: 100%;"/>
    </div>

    <div class="row mt-2">
        <!-- 文章内容 -->
        <!-- 标题图 -->
        <div class="col-3">
            <img src="{% static 'img/1.jpg' %}" alt="avatar" style="max-width:100%; border-radius: 20px">
        </div>
        <div class="col">
            <!-- 栏目 -->
            <a  role="button" href="#" class="btn btn-sm mb-2 btn-warning">Python</a>
            <!-- 标签 -->
            <span>
                        <a href="#" class="badge badge-secondary">Django</a>
                </span>
            <!-- 标题 -->
            <h4>
                <b><a href="../static/detail.html" style="color: black;">如何更好的学习Django呢？</a></b>
            </h4>
            <!-- 摘要 -->
            <div>
                <p style="color: gray;">
                    Python下有许多款不同的 Web 框架。Django是重量级选手中最有代表性的一位。许多成功的网站和APP都基于Django。Django是一个开放源代码的Web应用框架，由Python写成。
                </p>
            </div>
            <!-- 注脚 -->
            <p>
                <!-- 转发、评论、时间 -->
                <span><i class="fas fa-eye" style="color: lightskyblue;"></i>590&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fas fa-comments" style="color: yellowgreen;"></i>11&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fas fa-clock" style="color: pink;"></i>2019-10-22</span>
            </p>
        </div>
        <hr style="width: 100%;"/>
    </div>

    <div class="row mt-2">
        <!-- 文章内容 -->
        <!-- 标题图 -->
        <div class="col-3">
            <img src="{% static 'img/1.jpg' %}" alt="avatar" style="max-width:100%; border-radius: 20px">
        </div>
        <div class="col">
            <!-- 栏目 -->
            <a  role="button" href="#" class="btn btn-sm mb-2 btn-warning">Python</a>
            <!-- 标签 -->
            <span>
                        <a href="#" class="badge badge-secondary">Django</a>
                </span>
            <!-- 标题 -->
            <h4>
                <b><a href="../static/detail.html" style="color: black;">如何更好的学习Django呢？</a></b>
            </h4>
            <!-- 摘要 -->
            <div>
                <p style="color: gray;">
                    Python下有许多款不同的 Web 框架。Django是重量级选手中最有代表性的一位。许多成功的网站和APP都基于Django。Django是一个开放源代码的Web应用框架，由Python写成。
                </p>
            </div>
            <!-- 注脚 -->
            <p>
                <!-- 转发、评论、时间 -->
                <span><i class="fas fa-eye" style="color: lightskyblue;"></i>590&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fas fa-comments" style="color: yellowgreen;"></i>11&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fas fa-clock" style="color: pink;"></i>2019-10-22</span>
            </p>
        </div>
        <hr style="width: 100%;"/>
    </div>

    <div class="row mt-2">
        <!-- 文章内容 -->
        <!-- 标题图 -->
        <div class="col-3">
            <img src="{% static 'img/1.jpg' %}" alt="avatar" style="max-width:100%; border-radius: 20px">
        </div>
        <div class="col">
            <!-- 栏目 -->
            <a  role="button" href="#" class="btn btn-sm mb-2 btn-warning">Python</a>
            <!-- 标签 -->
            <span>
                        <a href="#" class="badge badge-secondary">Django</a>
                </span>
            <!-- 标题 -->
            <h4>
                <b><a href="../static/detail.html" style="color: black;">如何更好的学习Django呢？</a></b>
            </h4>
            <!-- 摘要 -->
            <div>
                <p style="color: gray;">
                    Python下有许多款不同的 Web 框架。Django是重量级选手中最有代表性的一位。许多成功的网站和APP都基于Django。Django是一个开放源代码的Web应用框架，由Python写成。
                </p>
            </div>
            <!-- 注脚 -->
            <p>
                <!-- 转发、评论、时间 -->
                <span><i class="fas fa-eye" style="color: lightskyblue;"></i>590&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fas fa-comments" style="color: yellowgreen;"></i>11&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fas fa-clock" style="color: pink;"></i>2019-10-22</span>
            </p>
        </div>
        <hr style="width: 100%;"/>
    </div>
    <!-- 页码导航 -->
    <div class="pagenation" style="text-align: center">
        <div id="pagination" class="page"></div>
    </div>
</div>

<!-- Footer -->
<footer class="py-3 bg-dark" id="footer">
    <div class="container">
        <h5 class="m-0 text-center text-white">Copyright @ Yangjf</h5>
    </div>
</footer>
</div>


<script type="text/javascript" src="{% static 'js/host.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.pagination.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('#pagination').pagination({
            currentPage: 1,
            totalPage: 20,
            callback:function (current) {

                location.href = '/';
            }
        })
    });
</script>
</body>
</html>